/* default colors sample */
:root {
  --clr-main: #a117a1;
  --clr-gray: #e2e8f0;
  --clr-btn-text: #ffffff;
  --clr-text: #020617;
  --clr-error: #dc2626;
  --clr-succes: #16a34a;
}
@font-face {
  font-family: h1Font;
  src: url(Norse-Bold.otf);
}

/* reset default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(
    1em + 0.5rem
  ); /*purpose best spacing that compliments to the desired size */
}

body {
  background-color: var(--clr-gray);
}

img,
picture,
video,
canvas,
svg {
  display: block; /*purpose is these list never use inline */
  max-width: 100%;
  user-select: none; /*no reason to select any of these*/
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.content,
.logo {
  display: flex;
  flex-flow: column;
}

.content {
  flex-flow: column;
  height: auto;
  text-align: center;
}

.aside__container {
  background-image: url(../public/static/images/mila.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 20vh;
  display: flex;
}

.aside__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 15px 0;
  position: static;
  color: var(--clr-btn-text);

  background-color: rgba(2, 6, 23, 0.5);
}

.aside__logo {
  width: 5rem;
  transform: rotateY(0deg) rotate(-45deg);
}
.aside__treasure {
  font-family: h1Font;
  font-size: 2rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px; /* this will make the container shrink when the viewport touches the container */
  }
}

/* sm */
@media (min-width: 640px) {
  .content {
    display: flex;
    flex-direction: row;
  }
  .aside__container {
    width: 50vw;
    height: auto;
    display: flex;
  }
  .aside__picture {
    height: 10%;
    margin: 19rem 0;
  }

  .aside__logo {
    width: 6rem;
  }
  .aside__treasure {
    font-size: 2.5rem;
  }
}

/* md */
@media (min-width: 768px) {
  .content {
    min-height: 100vh;
  }
  .aside__container {
    display: flex;
    max-width: 40vw;
    max-height: auto;
  }
  .aside__picture {
    height: 10%;
    margin: 10rem 0;
  }
}

/* Lg */
@media (min-width: 1024px) {
  .aside__container {
    width: 30vw;
  }
}

/* xL */
@media (min-width: 1280px) {
  .aside__container {
    max-width: 100%;
    height: auto;
  }
}

/* 2xL */
@media (min-width: 1535px) {
  .container {
    max-width: 1535px;
  }
}
