.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 1px solid red; */
}

.section {
  margin-top: 2rem;
}

.valid {
  border: 2px solid var(--clr-succes) !important;
}

.invalid {
  border: 2px solid var(--clr-error) !important;
}
input + p {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin: 0 10px;
  color: var(--clr-error);
  opacity: 0;
  height: 0;
}

input.invalid + p {
  opacity: 1;
  height: auto;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px; /* this will make the container shrink when the viewport touches the container */
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px; /* this will make the container shrink when the viewport touches the container */
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px; /* this will make the container shrink when the viewport touches the container */
  }
}

/* Lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px; /* this will make the container shrink when the viewport touches the container */
  }

  .section {
    margin-top: 10rem;
  }
}

/* xL */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px; /* this will make the container shrink when the viewport touches the container */
  }
}

/* 2xL */
@media (min-width: 1535px) {
  .container {
    max-width: 1535px; /* this will make the container shrink when the viewport touches the container */
  }
}
